<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class="header">
        <div class="tam-taram-logo">
            <%- include img/svg/logo.svg %>
        </div>

        <div class="nearest-salon">
            <p class="nearest-salon__text"><span class="span span_emphasized-bold">NEAREST SALON</span>
                <%- include img/svg/ico_dropdown.svg %>
            </p>
            <p class="nearest-salon__address">Plush Salon 92101</p>
        </div>

        <form method="get" action="path" name="search" id="search" class="search">
            <input type="search" class="search__input">
            <input type="submit" value="" class="search__submit">
            <%- include img/svg/ico_search.svg %>
        </form>

        <div class="menu header__menu navigation">
            <ul class="navigation__list">
                <% const navigationItems = [
                    {title: 'HAIRCARE', isActive: false, link: '#'},
                    {title: 'COLOR', isActive: false, link: '#'},
                    {title: 'STYLING', isActive: false, link: '#'},
                    {title: 'TEXTURE', isActive: false, link: '#'},
                    {title: 'GET INSPIRED', isActive: false, link: '#'},
                    {title: 'SOCIAL', isActive: false, ink: '#'},
                    {title: 'NEWS', isActive: false, link: '#'},
                    {title: 'ABOUT', isActive: false, link: '#'},
                    {title: 'PROFESSIONAL', isActive: true, link: '#'}
                ]; %>

                <% navigationItems.forEach((item) => { %>
                <li class="navigation__item">
                    <a class="navigation__link <% item.isActive ? "navigation__link_active" : "" %>" href="<%= item.link %>"><%= item.title %></a>
                </li>
                <% }) %>
            </ul>
        </div>
    </header>

    <section class="main">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <% const breadcrumbsItems = [
                    {title: 'HOME', isActive: false, link: '#'},
                    {title: 'VIDEOS', isActive: true, link: '#'}
                ]; %>

                <% breadcrumbsItems.forEach((item) => { %>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link <%= item.isActive ? 'breadcrumbs__link_active' : ''; %>" href="<%= item.link %>"><%= item.title %></a>
                </li>
                <% if(item.isActive === false) { %>
                <li class="breadcrumbs__separator">/</li>
                <% } %>
                <% }) %>
            </ul>
        </div>

        <div class="primary">
            <div class="title title_primary">
                <h1 class="title__text">VIDEOS</h1>
            </div>

            <div class="video-primary">
                <img class="video-primary__shortcut" src="https://img.youtube.com/vi/z8M0Fa1JVco/maxresdefault.jpg">
                <img class="play" src="img/svg/ico_play.svg">
            </div>
            <div class="video-description">
                <p class="video-description__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque lobortis, nisl at ullamcorper egestas, felisadi piscing dolor,
                    a interdum lorem urna quis magna.
                </p>
            </div>
        </div>

        <div class="stepbystep">
            <div class="title title_secondary">
                <h1 class="title__text">STEP <span class="span span_title">BY</span> STEP</h1>
            </div>

            <div class="video-stepbystep-container">
                <% const stepByStepVideos = ['Wi2KcdoCuo4', '8H6dYUgQKB8', 'PZjGrmHdFME', '_wLGr24VeoI', 'DG4FAU5qmMY']; %>

                <% stepByStepVideos.forEach((item) => { %>
                <div class="video-stepbystep">
                    <img class="shortcut-secondary video-stepbystep__shortcut" src="https://img.youtube.com/vi/<%= item %>/maxresdefault.jpg">
                    <img class="play" src="img/svg/ico_play.svg">
                </div>
                <% })%>
            </div>

            <div class="load-more">
                <button class="load-more__button">LOAD MORE</button>
            </div>
        </div>

        <div class="education">
            <div class="title title_secondary">
                <h1 class="title__text">CRAFT <span class="span span_title">EDUCATION</span></h1>
            </div>
            <div class="video-education-container">
                <% const educationVideos = ['RmNWNLXmswk', '-tztXOz8Vc0', 'kUfIVtyydgQ']; %>

                <% educationVideos.forEach((item) => { %>
                <div class="video-education">
                    <img class="shortcut-secondary video-education__shortcut" src="https://img.youtube.com/vi/<%= item %>/maxresdefault.jpg">
                    <img class="play" src="img/svg/ico_play.svg">
                </div>
                <% })%>
            </div>

            <div class="load-more">
                <button class="load-more__button">LOAD MORE</button>
            </div>
        </div>

        <div class="inspiration">
            <div class="title title_secondary">
                <h1 class="title__text">INSPIRATION</h1>
            </div>
            <div class="video-inspiration-container">
                <% const inspirationVideos = ['VmmwwzR536g', 'vz0k8O-Ef9Y', '6oPBFnsqJW8']; %>

                <% inspirationVideos.forEach((item) => { %>
                <div class="video-inspiration">
                    <img class="shortcut-secondary video-inspiration__shortcut" src="https://img.youtube.com/vi/<%= item %>/<%= item === 'vz0k8O-Ef9Y' ? 'mqdefault' : 'maxresdefault' %>.jpg">
                    <img class="play" src="img/svg/ico_play.svg">
                </div>
                <% })%>
            </div>

            <div class="load-more">
                <button class="load-more__button">LOAD MORE</button>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="menu menu-social menu_social footer__menu">
            <ul class="menu-social__list">
                <% const socialMenuItems = [
                    {title: 'facebook', link: '#'},
                    {title: 'twitter', link: '#'},
                    {title: 'pinterest', link: '#'},
                    {title: 'youtube', link: '#'},
                    {title: 'instagram', link: '#'}
                ]; %>

                <% socialMenuItems.forEach((item) => { %>
                <li class="menu-social__item">
                    <a class="menu-social__link" href="<%= item.link %>"><img class="menu-social__img" src="img/svg/ico_<%= item.title %>.svg"></a>
                </li>
                <% }) %>
            </ul>
        </div>

        <div class="customization">
            <div class="location">
                <p class="location__current">
                    LOCATION: <span class="span span_emphasized-thin">UNITED STATES</span>
                </p>
            </div>
            <div class="language">
                <p class="language__current">
                    LANGUAGE: <span class="span span_emphasized-thin">ENGLISH</span>
                </p>
            </div>
        </div>

        <div class="menu menu-bottom menu_bottom footer__menu">
            <ul class="menu-bottom__list">
                <% const bottomMenuItems = [
                    {title: 'PRIVACY POLICY', link: '#'},
                    {title: 'TERMS OF USE', link: '#'},
                    {title: 'CONTACT US', link: '#'},
                    {title: 'NEWSLETTER', link: '#'},
                    {title: 'SITEMAP', link: '#'}
                ]; %>

                <% bottomMenuItems.forEach((item) => { %>
                <li class="menu-bottom__item">
                    <a class="menu-bottom__link" href="<%= item.link %>"><%= item.title %></a>
                </li>
            <% }) %>
            </ul>
        </div>

    </footer>

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
